/* 회원가입 join-optional */

#DIV-PROFILE-SETTINGS-WRAP { margin-top: 30px; }

#DIV-PROFILE-IMG {
  width: 130px;
  height: 130px;
  margin: auto;
  display: flex;
  align-items: center;
  
  border: 4px solid #DDDDDD;
  border-radius: 100%;
  overflow: hidden;
}

#DIV-PROFILE-IMG > label {
  width: 100%;
  height: 100%;
}

#DIV-PROFILE-IMG-WRAP {
  display: flex;
  justify-content: center;

  line-height: 0;
  cursor: pointer;
}

#IMG-PROFILE {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.input-profile-image { display: none; }

#DIV-PROFILE-NAME {
  margin: 15px 0 20px;
  text-align: center;
}

#DIV-PROFILE-INTRO {
  width: 90%;
  margin: auto;
  padding-bottom: 35px;
}

.optional-input { width: 100%; }