/* 기본 레이아웃 - 헤더더, 푸터 */

* {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

body { background-color: #FDFDFD; }

a {
  color: inherit;
  text-decoration: none;
}

ul { list-style-type: none; }

/* 상단 공통 헤더 영역 */
#HEADER-CONTAINER {
  width: 80%;
  margin: auto;
}

/* 로고 및 로그인 링크 */
#DIV-HEADER-TOP {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 35px;
  margin-bottom: 25px;
}

#DIV-HEADER-TOP div { display: inline-block; }

#IMG-LOGO {
  height: 35px;
  cursor: pointer;
}

#DIV-RIGHT-LOGIN { font-weight: 400; }

.div-header-top-link > a:hover { color: #064973; }

.div-menu-line::after {
  content: "|";
  color: #CCCCCC;
  margin: 0 10px;
}

/* 메뉴바 */
#DIV-HEADER-BOTTOM {
  padding: 0 25px;

  border-top:1px solid #DDDDDD;
  border-bottom:1px solid #DDDDDD;
}
#UL-HEDAER-MENU { display: flex; }
#UL-HEDAER-MENU > li {

  font-weight: 700;
}

#UL-HEDAER-MENU > li > a {
  display: block;
  margin: 0 15px;
  padding: 15px 7px;
}
#UL-HEDAER-MENU > li > a:hover { color: #04B2D9; }

.li-menu-select {
  border-bottom: 3px solid #04B2D9;
  color: #04B2D9;
}

/* 메인 컨텐츠 영역 */
#MAIN-CONTAINTER {
  width: 80%;
  margin: auto;
  padding: 35px 0 150px;
}

/* 하단 푸터 영역 */
#FOOTER-CONTAINER {
  background-color: #ffffff;
  font-size: 16px;
  color: #555555;
}

#DIV-FOOTER-WRAP {
  width: 80%;
  margin: auto;
  padding: 60px 0;
  border-top: 1px solid #DDDDDD;
}

#DIV-FOOTER-LEGAL-WRAP {
  display: flex;
  margin: 0 0 20px;
}
.div-footer-legal > a:hover { color: #064973; }
#DIV-ROOMLOG-INFO-WRAP p { padding-top: 2px; }

/* -------------------------------------------------------------- */

/* 페이지네이션 */
#DIV-PAGENATION-WRAP > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;

  color: #cccccc;
}

#DIV-PAGENATION-WRAP > ul > li { cursor: pointer; }

.li-pagenation {
  margin: 0 10px;
  font-size: 23px;
}

.page {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #cccccc;
  font-weight: 500;
}

.page:hover {
  border: 1px solid #064973;
  color: #064973;
}

.previous, .next {
  font-size: 25px;
  margin: 0 25px;
}
.previous:hover, .next:hover { color: #064973; }

/* 현재 페이지 */
.selected {
  background-color: #064973;
  color: #fff;
}
.selected:hover {
  background-color: #064973;
  border: none;
  color: #fff;
}