/* 유저 프로필 정보 영역 */
#DIV-USER-INFO-CONTAINER {
    width: 650px;
    margin: auto;
    display: flex;
}

/* 유저 프로필 사진 */
#DIV-USER-PROFILE-IMG {
    width: 200px;
    aspect-ratio: 1;
    overflow: hidden;
}

#DIV-USER-PROFILE-IMG > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

/*  */
.div-nick-btn-wrap {
    display: flex;
    align-items: center;
}

.div-age {
    width: ;
}

.div-nickname {
    margin: 0;
    margin-right: 30px;
}

.div-message-btn, .div-settings-btn {
    display: flex;

    padding: 7px;
}
.div-message-btn {

}

.div-settings-btn {

}

/* --------------------------------------------------------------- */

/* 글 목록 */
#DIV-LIST-CONTAINER {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.has-img .div-post-text-wrap { width: calc(100% - 195px); }
.div-post-text-wrap { width: 100%; }

.div-my-post-info-wrap {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-post-text-wrap > .div-title { margin-top: 12px; }

.div-none-profile {
    width: 180px;
    height: 120px;
    overflow: hidden;
}

/* 게시글에 등록된 이미지 */
.div-none-profile > img {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    margin-right: 20px;
    
    border-radius: 3px;
    object-fit: cover;
}