/* 기본 레이아웃 - 헤더, 푸터 */
/* 그 외 공통 부분 */

@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

* {
  margin: 0;
  padding: 0;
  font-family: 'NanumSquare', 'Noto Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}

body { background-color: #fbfbfb; }

a {
  color: inherit;
  text-decoration: none;
}

ul { list-style-type: none; }

textarea {
  resize: none;
  overflow-y: hidden;
}
textarea:focus { outline: none; }

input[type="text"]:focus {
  border: none;
  outline: 3px solid #064973;
}

input::placeholder,
textarea::placeholder,
.tagify__input::placeholder {
  color: #999;
  opacity: 1;
  font-weight: 600;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* -------------------------------------------------------------- */

/* 상단 공통 헤더 영역 */

/* 기본 영역 너비 */
#DIV-HEADER-TOP, #UL-HEDAER-MENU, #MAIN-CONTAINTER {
  width: 75%;
  margin: auto;
}

/* 로고 및 로그인 링크 */
#DIV-HEADER-TOP {
  margin: 35px auto 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#DIV-HEADER-TOP div {
  display: inline-block;
  font-weight: 700;
}

#IMG-LOGO {
  height: 35px;
  cursor: pointer;
}

#DIV-RIGHT-LOGIN { font-weight: 400; }

.div-header-top-link > a:hover { color: #064973; }

.div-menu-line::after {
  content: "|";
  color: #CCCCCC;
  margin: 0 10px;
}

/* ------------------------------- */

/* 가로 메뉴바 */
#DIV-HEADER-BOTTOM {
  background-color: #064973;
}

#UL-HEDAER-MENU {
  display: flex;
}

#UL-HEDAER-MENU a { font-size: 18px; }
#UL-HEDAER-MENU > li > a {
  display: block;
  min-width: 100px;
  padding: 15px 20px;

  color: #fff;
}

#UL-HEDAER-MENU > li > a:hover { background-color: #003E5D ; }

/* ------------------------------- */

/* 드롭다운 메뉴 */
.li-main-menu { position: relative; }

.ul-sub-menu {
  position: absolute;
  width: 100%;

  z-index: 10;
  /* 슬라이드 효과를 주기 위함 */
  max-height: 0;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

/* 슬라이드 효과를 주기 위함 - 호버시 높이 최대 */
.li-main-menu:hover .ul-sub-menu { max-height: 100vh; }

.ul-sub-menu > li > a {
  display: block;
  padding: 10px 20px;
  box-sizing: border-box;
  
  background-color: #fff;
  color: #000;
  border: 1px solid #dddddd;
}

.ul-sub-menu > li > a:hover { background-color: #f5f5f5 ; }

/* -------------------------------------------------------------- */

/* 메인 컨텐츠 영역 */
#MAIN-CONTAINTER { margin: 70px auto; }

/* -------------------------------------------------------------- */

/* 검색창 영역 */
#SECTION-SEARCH-CONTAINER { margin-top: 40px; }

#DIV-SEARCH-WRAP {
  display: flex;
  width: 90%;
  height: 60px;
  margin: auto;
}

/* 셀렉트 기본 화살표 없애고 화살표 직접 지정 */
select {
  -webkit-appearance: none; /* for chrome */
  -moz-appearance: none; /*for firefox*/
  appearance: none;
  background: #fff url('../../image/layout/search_arrow.png') no-repeat 97% 50%/15px auto;
  background-position:  right 10px center;
}
select:focus { outline: none; }
/* 셀렉트 기본 화살표 없애기 */
select::-ms-expand{ display: none;/*for IE10,11*/ }

/* 검색 카테고리 */
#SELECT-SEARCH-CATEGORY {
  width: 250px;
  height: 100%;
  margin-right: 20px;
  padding: 0 30px;

  border: 1px solid #999999;
  border-radius: 50px;
  font-size: 21px;
}

/* 검색창 */
#DIV-SEARCH-TEXT-WRAP {
  width: 100%;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  background-color: #fff;

  border: 1px solid #999999;
  border-radius: 50px;
}

#DIV-SEARCH-TEXT-WRAP > img {
  width: 32px;
  height: 32px;
  margin-right: 15px;
}

#INPUT-SEARCH-TEXT {
  width: 100%;
  height: 100%;

  border: none;
  font-size: 21px;
}
#INPUT-SEARCH-TEXT:focus { outline: none; }

/* -------------------------------------------------------------- */

/* 글 개수 + 정렬 카테고리 */
#SECTION-COUNT-FILTER-CONTAINER { margin-top: 40px; }

#DIV-INFO-WRAP {
  display: flex;
  justify-content: space-between;
}

/* 정렬 카테고리 */
#DIV-SORT-WRAP > select { background-size: 13px auto; }
#SELECT-SORT {
  padding: 0 10px;

  border: none;
  font-size: 18px;
  color: #555555;
}

/* -------------------------------------------------------------- */

#SECTION-LIST-CONTAINER { margin-top: 15px; }

/* 테이블 또는 페이지 제목 */
.div-title {
  font-size: 26px;
  font-weight: 800;
  position: relative;
}

.div-sub-title {
  position: absolute;
  top: -25px;
  font-size: 17px;
  /* font-weight: 800; */
  color: #999999;
}

/* 테이블 기본 레이아웃 */
table {
  width: 100%;
  padding: 0px;
  border-spacing: 0px;
  border: 1px solid #cccccc;

  table-layout: fixed;
}

table > thead { background-color: #eeeeee; }
thead > tr > th { font-size: 19px; }

thead > tr > th {
  background-color: #eeeeee;
  padding: 12px;
  font-weight: 800;
}

td {
  padding: 16px 14px;
  border-top: 1px solid #cccccc;
  border-spacing: 0px;
  color: #555555;
  text-align: center;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  line-height: 1.2;
}

.go-page {
  background-color: #fff;
  cursor: pointer;
}
.go-page:hover {
  background-color: rgba(213, 229, 242, 0.5);
  transition: background 0.3s ease;
}

.t-btn { width: 60px; }
.t-btn-group { width: 20px; }

#DIV-BTN-WRITE-GROUP {
  display: flex;
  justify-content: flex-end;
  margin-top: 60px;
}

/* ------------------------------- */

/* 버튼 */

/* 탈퇴, 삭제, 글 남기기 버튼 */
.div-delete-btn {
  display: inline-block;
  height: 17px;
  padding: 6px 9px;

  border: 1px solid #999999;
  border-radius: 30px;
  color: #999999;
  line-height: 17px;
}
.div-delete-btn:hover {
  border: 1px solid #555555;
  color: #555555;
}

.button-style {
  border-radius: 5px;
  padding: 10px 12px;

  cursor: pointer;
}

.btn-grey-line {
  border: 1px solid #999999;
  color: #999999;
}
.btn-grey-line > span { margin-right: 10px; }
.btn-grey-line:hover {
  border: 1px solid #666666;
  color: #666666;
}

.btn-full-blue {
  background-color: #064973;
  color: #fff;
}
.btn-full-blue:hover { background-color: #00263A; }

/* -------------------------------------------------------------- */

/* 페이지네이션 */
#DIV-PAGENATION-WRAP {
  margin-top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #cccccc;
}

.div-page-btn-wrap {
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#DIV-PAGENATION-WRAP > ul {
  display: flex;
}

.pagenation {
  margin: 0 10px;

  font-size: 18px;
  cursor: pointer;
}

.page {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page:hover {
  border: 1px solid #064973;
  color: #064973;
}

.previous, .next {
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-size: 21px;
}
.previous:hover, .next:hover { color: #064973; }

/* 현재 페이지 */
.selected {
  background-color: #064973;
  color: #fff;
}
.selected:hover {
  background-color: #064973;
  color: #fff;
}

/* -------------------------------------------------------------- */

/* 알람 모달창 */
.div-alert-container {
  position: fixed; /* ✅ fixed로 변경 */
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 65%);
  z-index: 10;

  display: none;
  justify-content: center;
  align-items: center;
}
.alert-active { display: flex !important; }

.div-alert-wrap {
  display: inline-block;
  min-width: 400px;
  margin-bottom: 170px;
  padding: 30px 40px;
  background-color: #fff;

  border-radius: 10px;
}

.div-alert-content {
  font-weight: 500;
  line-height: 1.5em;
}

.div-alert-btn-wrap {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.div-alert-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 65px;
  padding: 8px 10px;

  border-radius: 5px;
  letter-spacing: 3px;
  cursor: pointer;
}

.div-alert-btn:not(:last-child) {
  margin-right: 15px;
}

.alert-ok {
  background-color: #064973;

  border: 2px solid #064973;
  color: #fff;
  font-weight: 500;
} 
.alert-ok:hover {
  background-color: #00263A;
  border: 2px solid #00263A;
} 

.alert-no {
  display: none;
  border: 2px solid #999999;
  color: #999999;
  font-weight: 700;
} 
.alert-no:hover {
  border: 2px solid #666666;
  color: #666666;
}
.modal-coutinue { display: flex; }